{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding-top: 60px" id="graphsContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h1>Рейсы по компаниям за {{date_for_show}}</h1>
        </div>
    </div>
</div>
<script>
    // Provided data for the graph
    var graphsContainer = document.getElementById('graphsContainer');

    const labels= ['00', '01', '02', '03', '04', '05', '06', '07', '08',
    '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
    '21', '22', '23'];
    var companies = {{ companies|safe }};
    var all_dep = {{ all_dep }};
    var all_arr = {{ all_arr }};
    var companyCount = companies.length;

    for (var i = 0; i < companyCount; i++) {

        company = companies[i]
        var row = document.createElement('div');
        row.classList.add('row');
        graphsContainer.appendChild(row);

        var col = document.createElement('div');
        col.classList.add('col-md-6', 'col-md-offset-3', 'col-xs-12');
        row.appendChild(col);

        var h2 = document.createElement('h2');
        h2.innerText = company;
        col.appendChild(h2);

        var canvas = document.createElement('canvas');
        canvas.id = 'graph' + company;
        col.appendChild(canvas);

        var maxYScale = Math.max(Math.max(...all_dep[i]), Math.max(...all_arr[i])) + 1
        var ctx = canvas.getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: "Прилеты",
                        data: all_arr[i],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: "Вылеты",
                        data: all_dep[i],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
            },
            options: {

                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        {#stacked: true,#}
                        min: 0,
                        max: maxYScale,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 1
                        }

                    },
                    x: {
                        beginAtZero: true,
                        {#stacked: true#}
                    }
                }
            }
        });

        // Adjust the width and height of the chart container
        var chartContainer = document.getElementById('graph' + company).parentElement;
        chartContainer.classList.add('container');
        // Update the chart layout
        chart.resize();
    }
</script>

{% endblock %}
