{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding-top: 60px" id="graphsContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h1>Рейсы по компаниям за {{date_for_show}}</h1>
        </div>
    </div>
</div>
<script>

    var graphsContainer = document.getElementById('graphsContainer');

    var labels= {{ labels|safe }};
    var companies = {{ companies|safe }};
    var tables_content = {{tables_content|safe}};
    var all_dep = {{ all_dep }};
    var all_arr = {{ all_arr }};
    var companyCount = companies.length;

    for (var i = 0; i < companyCount; i++) {

        company = companies[i]
        var row = document.createElement('div');
        row.classList.add('row');
        graphsContainer.appendChild(row);

        var col = document.createElement('div');
        col.classList.add('col-md-6', 'col-md-offset-3', 'col-xs-12');
        row.appendChild(col);

        var h2 = document.createElement('h2');
        h2.innerText = company;
        col.appendChild(h2);

        var canvas = document.createElement('canvas');
        canvas.id = 'graph' + company;
        col.appendChild(canvas);

        var tableRow = document.createElement('div');
        tableRow.classList.add('row');
        graphsContainer.appendChild(tableRow);

        var tableCol = document.createElement('div');
        tableCol.classList.add('col-md-6', 'col-md-offset-3', 'col-xs-12', 'table-responsive');
        tableRow.appendChild(tableCol);

        var tableList = document.createElement('div')
        tableList.classList.add('list-group-item')
        tableList.id = 'schedule' + company.replaceAll(' ', '')
        tableCol.appendChild(tableList)

        var tableHeader = document.createElement('div')
        tableHeader.id = 'scheduleExpander' + company.replaceAll(' ', '')
        tableHeader.dataset.target = "#scheduleContent" + company.replaceAll(' ', '')
        tableHeader.dataset.toggle = 'collapse'
        tableHeader.dataset.groupId = "scheduleGrandparent" + company.replaceAll(' ', '')
        tableHeader.dataset.role = "scheduleExpander" + company.replaceAll(' ', '')
        tableHeader.textContent = "Показать расписание"
        tableList.appendChild(tableHeader)

        var tableContent = document.createElement('div')
        tableContent.classList.add('collapse')
        tableContent.id = 'scheduleContent' + company.replaceAll(' ', '')
        tableContent.ariaExpanded = 'true'
        tableList.appendChild(tableContent)

        var table = document.createElement('table')
        table.classList.add("table", "table-bordered", "table-striped")
        tableContent.appendChild(table)

        var thead = document.createElement('thead')
        table.appendChild(thead)

        var headTr = document.createElement('tr')
        thead.appendChild(headTr)

        
        header_list = ["Время", "Номер рейса", "Тип", "Судно"]
        for (var j = 0; j < header_list.length; j++){
            var th = document.createElement('th')
            th.textContent = header_list[j]
            headTr.appendChild(th)
        }

        var tbody = document.createElement('tbody')
        table.appendChild(tbody)
        
        for (const [hour, hour_flights] of Object.entries(tables_content[i])) {
            var hourTr = document.createElement('tr')
            hourTr.dataset.toggle = "collapse"
            hourTr.dataset.target = "." + company.replaceAll(' ', '') + hour
            tbody.appendChild(hourTr)

            var td = document.createElement('td')
            td.textContent = hour + ':00 - ' + (Number(hour)+1) + ":00"
            hourTr.appendChild(td)

            for (var k = 0; k < hour_flights.length; k++){
                var flight = hour_flights[k]
                var flightTr = document.createElement('tr')
                flightTr.classList.add("collapse", company.replaceAll(' ', '') + hour)
                tbody.appendChild(flightTr)

                for (var j = 0; j < flight.length; j++){
                    var td = document.createElement('td')
                    td.textContent = String(flight[j]).replaceAll('true', 'Вылет').replaceAll('false', 'Прилет')
                    flightTr.appendChild(td)
                }
                                
            }
        }


        var maxYScale = Math.max(Math.max(...all_dep[i]), Math.max(...all_arr[i])) + 1;
        var ctx = canvas.getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels[i],
                datasets: [
                    {
                        label: "Прилеты",
                        data: all_arr[i],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: "Вылеты",
                        data: all_dep[i],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
            },
            options: {

                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        {#stacked: true,#}
                        min: 0,
                        max: maxYScale,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 1
                        }

                    },
                    x: {
                        beginAtZero: true,
                        {#stacked: true#}
                    }
                }
            }
        });

        // Adjust the width and height of the chart container
        var chartContainer = document.getElementById('graph' + company).parentElement;
        chartContainer.classList.add('container');
        // Update the chart layout
        chart.resize();
    }
</script>

{% endblock %}
