{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" id="graphsContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h1>Рейсы по компаниям за {{date_for_show}}</h1>
        </div>
    </div>
</div>
<script>

    let graphsContainer = document.getElementById('graphsContainer');

    let labels= {{ labels|safe }};
    let companies = {{ companies|safe }};
    let tables_content = {{tables_content|safe}};
    let all_dep = {{ all_dep }};
    let all_arr = {{ all_arr }};
    let companyCount = companies.length;

    for (let i = 0; i < companyCount; i++) {

        company = companies[i]
        let row = document.createElement('div');
        row.classList.add('row');
        graphsContainer.appendChild(row);

        let col = document.createElement('div');
        col.classList.add('col-md-6', 'col-md-offset-3', 'col-xs-12');
        row.appendChild(col);

        let h2 = document.createElement('h2');
        h2.innerText = company;
        col.appendChild(h2);

        let canvas = document.createElement('canvas');
        canvas.id = 'graph' + company;
        col.appendChild(canvas);

        let tableRow = document.createElement('div');
        tableRow.classList.add('row');
        graphsContainer.appendChild(tableRow);

        let tableCol = document.createElement('div');
        tableCol.classList.add('col-md-6', 'col-md-offset-3', 'col-xs-12', 'table-responsive');
        tableRow.appendChild(tableCol);

        let tableList = document.createElement('div')
        tableList.classList.add('list-group-item')
        tableList.id = 'schedule' + company.replaceAll(' ', '')
        tableCol.appendChild(tableList)

        let tableHeader = document.createElement('div')
        tableHeader.id = 'scheduleExpander' + company.replaceAll(' ', '')
        tableHeader.dataset.target = "#scheduleContent" + company.replaceAll(' ', '')
        tableHeader.dataset.toggle = 'collapse'
        tableHeader.dataset.groupId = "scheduleGrandparent" + company.replaceAll(' ', '')
        tableHeader.dataset.role = "scheduleExpander" + company.replaceAll(' ', '')
        tableHeader.textContent = "Показать расписание"
        tableList.appendChild(tableHeader)

        let tableContent = document.createElement('div')
        tableContent.classList.add('collapse')
        tableContent.id = 'scheduleContent' + company.replaceAll(' ', '')
        tableContent.ariaExpanded = 'true'
        tableList.appendChild(tableContent)

        let table = document.createElement('table')
        table.classList.add("table", "table-bordered")
        tableContent.appendChild(table)

        let thead = document.createElement('thead')
        table.appendChild(thead)

        let headTr = document.createElement('tr')
        thead.appendChild(headTr)

        
        header_list = ["Время", "Номер рейса", "Тип", "Судно"]
        for (let j = 0; j < header_list.length; j++){
            let th = document.createElement('th')
            th.textContent = header_list[j]
            headTr.appendChild(th)
        }

        let tbody = document.createElement('tbody')
        table.appendChild(tbody)
        
        for (const [hour, hour_flights] of Object.entries(tables_content[i])) {
            let hourTr = document.createElement('tr')
            tbody.appendChild(hourTr)

            let td = document.createElement('td')
            td.colSpan = "5"
            td.textContent = hour + ':00 - ' + (Number(hour)+1) + ":00"
            hourTr.appendChild(td)

            for (let k = 0; k < hour_flights.length; k++){
                let flight = hour_flights[k]
                let flightTr = document.createElement('tr')
                flightTr.style.backgroundColor = 'rgba(255, 99, 132, 0.1)';
                tbody.appendChild(flightTr)

                for (let j = 0; j < flight.length; j++){
                    let td = document.createElement('td')
                    if (String(flight[j]) == 'true'){
                        flightTr.style.backgroundColor = 'rgba(75, 192, 192, 0.1)';
                    }
                    td.textContent = String(flight[j]).replaceAll('true', 'Вылет').replaceAll('false', 'Прилет')
                    flightTr.appendChild(td)
                }
                                
            }
        }


        let maxYScale = Math.max(Math.max(...all_dep[i]), Math.max(...all_arr[i])) + 1;
        let ctx = canvas.getContext('2d');
        let chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels[i],
                datasets: [
                    {
                        label: "Прилеты",
                        data: all_arr[i],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    },
                    {
                        label: "Вылеты",
                        data: all_dep[i],
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
            },
            options: {

                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        {#stacked: true,#}
                        min: 0,
                        max: maxYScale,
                        ticks: {
                            // forces step size to be 50 units
                            stepSize: 1
                        }

                    },
                    x: {
                        beginAtZero: true,
                        {#stacked: true#}
                    }
                }
            }
        });

        // Adjust the width and height of the chart container
        let chartContainer = document.getElementById('graph' + company).parentElement;
        chartContainer.classList.add('container');
        // Update the chart layout
        chart.resize();
    }
</script>

{% endblock %}
