{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding-top: 60px">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h1>Рейсы за {{date_for_show}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Все рейсы</h2>
            <canvas id="allFlightsGraph" width="400" height="200"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 table-responsive">

            <div class="list-group-item" id="scheduleAll">

                <div id="scheduleAllExpander" data-target="#scheduleAllContent" data-toggle="collapse"
                    data-group-id="scheduleAllGrandparent" data-role="scheduleAllExpander">
                    Посмотреть расписание
                </div>

                <div class="collapse" id="scheduleAllContent" aria-expanded="true">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Номер рейса</th>
                                <th>Компания</th>
                                <th>Тип</th>
                                <th>Судно</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for hour, hour_flights in table_content_all.items()%}
                            <tr data-toggle="collapse" data-target=".allHour{{hour}}">
                                <td>{{ hour }}:00 - {{hour + 1}}:00</td>
                            </tr>
                            {%for flight in hour_flights%}
                            <tr class="collapse allHour{{hour}}">
                                {%for col in flight%}

                                <td>{{col.replace('True', 'Вылет').replace('False', 'Прилет')}}</td>
                                {%endfor%}
                            </tr>
                            {%endfor%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Прилетающие рейсы</h2>
            <canvas id="activityChart2" width="400" height="200"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 table-responsive">

            <div class="list-group-item" id="scheduleArrive">

                <div id="scheduleArriveExpander" data-target="#scheduleArriveContent" data-toggle="collapse"
                    data-group-id="scheduleArriveGrandparent" data-role="scheduleArriveExpander">
                    Посмотреть расписание
                </div>

                <div class="collapse" id="scheduleArriveContent" aria-expanded="true">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Номер рейса</th>
                                <th>Компания</th>
                                <th>Судно</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for hour, hour_flights in table_content_arr.items()%}
                            <tr data-toggle="collapse" data-target=".arriveHour{{hour}}">
                                <td>{{ hour }}:00 - {{hour + 1}}:00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {%for flight in hour_flights%}
                            <tr class="collapse arriveHour{{hour}}">
                                {%for col in flight%}
                                <td>{{col}}</td>
                                {%endfor%}
                            </tr>
                            {%endfor%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Улетающие рейсы</h2>
            <canvas id="activityChart3" width="400" height="200"></canvas>
        </div>2
    </div>


    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 table-responsive">

            <div class="list-group-item" id="scheduleDepart">

                <div id="scheduleDepartExpander" data-target="#scheduleDepartContent" data-toggle="collapse"
                    data-group-id="scheduleDepartGrandparent" data-role="scheduleDepartExpander">
                    Посмотреть расписание
                </div>

                <div class="collapse" id="scheduleDepartContent" aria-expanded="true">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>Номер рейса</th>
                                <th>Компания</th>
                                <th>Судно</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for hour, hour_flights in table_content_dep.items()%}
                            <tr data-toggle="collapse" data-target=".departHour{{hour}}">
                                <td>{{ hour }}:00 - {{hour + 1}}:00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {%for flight in hour_flights%}
                            <tr class="collapse departHour{{hour}}">
                                {%for col in flight%}
                                <td>{{col}}</td>
                                {%endfor%}
                            </tr>
                            {%endfor%}
                            {%endfor%}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

<script>
    let data_all = JSON.parse('{{ data.data_all }}');
    let data_dep = JSON.parse('{{ data.data_dep }}');
    let data_arr = JSON.parse('{{ data.data_arr }}');
    // All Flights bar Chart
    let maxYScale = Math.max(...data_all) + 1
    let AllFlightsGraphCanvas = document.getElementById('allFlightsGraph')
    let allFlightsGraphCtx = AllFlightsGraphCanvas.getContext('2d');
    let allFlightsGraph = new Chart(allFlightsGraphCtx, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Всего самолетов за час:',
                data: data_all,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },

        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    stacked: true
                }
            },
        }
    });
    AllFlightsGraphCanvas.onclick = (evt) => {
        const res = AllFlightsGraphCanvas.getElementsAtEventForMode(
            evt,
            'nearest',
            { intersect: true },
            true
        );
        // If didn't click on a bar, `res` will be an empty array
        if (res.length === 0) {
            return;
        }
        // Alerts "You clicked on A" if you click the "A" chart
        alert('You clicked on ' + AllFlightsGraphCanvas.data.labels[res[0].index]);
    };


    // Activity 2 bar Chart
    maxYScale = Math.max(...data_arr) + 1
    let ctxActivity2 = document.getElementById('activityChart2').getContext('2d');
    let activityChart2 = new Chart(ctxActivity2, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Прилетающих самолетов за час',
                data: data_arr,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });

    // Activity 3 bar Chart
    maxYScale = Math.max(...data_dep) + 1
    let ctxActivity3 = document.getElementById('activityChart3').getContext('2d');
    let activityChart3 = new Chart(ctxActivity3, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Улетающих самолетов за час',
                data: data_dep,
                backgroundColor: 'rgba(255, 205, 86, 0.2)',
                borderColor: 'rgba(255, 205, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    stacked: true,
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    stacked: true
                }
            }
        }
    });
</script>
{% endblock %}