{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="padding-top: 60px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h1>Рейсы за {{date_for_show}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Все рейсы</h2>
            <canvas id="activityChart1" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Прилетающие рейсы</h2>
            <canvas id="activityChart2" width="400" height="200"></canvas>
        </div>
    </div>
     <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 table-responsive">
            <table class="table table-bordered" style="width: 100%">
                <tr>
                    <th>Номер рейса</th>
                    <th>Расчетное время</th>
                    <th>Компания</th>
                </tr>
                {%for flight in table_content_arr%}
                <tr>
                    {%for col in flight%}
                    <td>{{col}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <h2>Улетающие рейсы</h2>
            <canvas id="activityChart3" width="400" height="200"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 table-responsive">
            <table class="table table-bordered" style="width: 100%">
                <tr>
                    <th>Номер рейса</th>
                    <th>Расчетное время</th>
                    <th>Компания</th>
                </tr>
                {%for flight in table_content_dep%}
                <tr>
                    {%for col in flight%}
                    <td>{{col}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>

<script>
    var data_all = JSON.parse('{{ data.data_all }}');
    var data_dep = JSON.parse('{{ data.data_dep }}');
    var data_arr = JSON.parse('{{ data.data_arr }}');
    // Activity 1 Line Chart
    var maxYScale = Math.max(...data_all) + 1
    var ctxActivity1 = document.getElementById('activityChart1').getContext('2d');
    var activityChart1 = new Chart(ctxActivity1, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Всего самолетов за час:',
                data: data_all,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },

        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    {#stacked: true,#}
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    {#stacked: true#}
                }
            }
        }
    });

    // Activity 2 Line Chart
    maxYScale = Math.max(...data_arr) + 1
    var ctxActivity2 = document.getElementById('activityChart2').getContext('2d');
    var activityChart2 = new Chart(ctxActivity2, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Прилетающих самолетов за час',
                data: data_arr,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    {#stacked: true,#}
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    {#stacked: true#}
                }
            }
        }
    });

    // Activity 3 Line Chart
    maxYScale = Math.max(...data_dep) + 1
    var ctxActivity3 = document.getElementById('activityChart3').getContext('2d');
    var activityChart3 = new Chart(ctxActivity3, {
        type: 'bar',
        data: {
            labels: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            datasets: [{
                label: 'Улетающих самолетов за час',
                data: data_dep,
                backgroundColor: 'rgba(255, 205, 86, 0.2)',
                borderColor: 'rgba(255, 205, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true,
                    {#stacked: true,#}
                    min: 0,
                    max: maxYScale,
                    ticks: {
                        stepSize: 1
                    }

                },
                x: {
                    beginAtZero: true,
                    {#stacked: true#}
                }
            }
        }
    });
</script>
{% endblock %}
